// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint1200) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

// Body Locked
body {
  background-color: var(--light-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  // &.locked {
  //   overflow: hidden;
  // }
}

body,
html {
  min-height: 100vh;
}

.section {
  display: none;

  animation: fade 1s linear;
}

.main__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
}

.main__body--main-page .container {
  max-width: 1440px;
}

.main__wrapper {
  display: grid;
  grid-template-columns: 232px 1fr;
  justify-content: space-between;
  padding: 50px 0 40px;


  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 0 30px;
  }
}

.main-title {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.2px;

  @media (max-width: $breakpoint1450) {
    font-size: 36px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 30px;
  }
}

.main__content {
  max-width: 1050px;
  margin-left: 100px;

  @media (max-width: $breakpoint1450) {
    margin-left: 30px;
  }

  @media (max-width: $breakpoint992) {
    margin-left: 0;
  }
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip:after,
.tooltip:before {
  opacity: 0;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, 10px);
  transform-origin: top;
  transition: all 0.18s ease-out 0.18s;
}

.tooltip:after {
  background-color: #f5f5f5;
  box-shadow: 0 0 3px #ddd;
  content: attr(data-tooltip);
  padding: 10px;
  white-space: nowrap;
  margin-bottom: 11px;
}

.tooltip:before {
  width: 0;
  height: 0;
  content: "";
  margin-bottom: 6px;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

[data-tooltip-pos="up"]:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f5f5f5;
  margin-bottom: 6px;
}

[data-tooltip-pos="down"]:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5f5f5;
  margin-top: 6px;
}

[data-tooltip-pos="right"]:before {
  border-top: 6px solid transparent;
  border-right: 6px solid #f5f5f5;
  border-bottom: 6px solid transparent;
  margin-left: 6px;
}

[data-tooltip-pos="left"]:before {
  border-top: 6px solid transparent;
  border-left: 6px solid #f5f5f5;
  border-bottom: 6px solid transparent;
  margin-right: 6px;
}

[data-tooltip-pos="down"]:before,
[data-tooltip-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -10px);
}

[data-tooltip-pos="down"]:after {
  margin-top: 11px;
}

[data-tooltip-pos="down"]:hover:before,
[data-tooltip-pos="down"]:hover:after {
  transform: translate(-50%, 0);
}

[data-tooltip-pos="left"]:before,
[data-tooltip-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  transform: translate(10px, -50%);
}

[data-tooltip-pos="left"]:after {
  margin-right: 11px;
}

[data-tooltip-pos="left"]:hover:before,
[data-tooltip-pos="left"]:hover:after {
  transform: translate(0, -50%);
}

[data-tooltip-pos="right"]:before,
[data-tooltip-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  transform: translate(-10px, -50%);
}

[data-tooltip-pos="right"]:after {
  margin-left: 11px;
}

[data-tooltip-pos="right"]:hover:before,
[data-tooltip-pos="right"]:hover:after {
  transform: translate(0, -50%);
}

[data-tooltip-length]:after {
  white-space: normal;
}

[data-tooltip-length="small"]:after {
  width: 80px;
}

[data-tooltip-length="medium"]:after {
  width: 150px;
}

[data-tooltip-length="large"]:after {
  width: 260px;
}

[data-tooltip-length="fit"]:after {
  width: 100%;
}




/*css just to the example*/
.component--example {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}