.governance {

  // .governance__list

  &__list {
    // position: relative;
  }

  // .governance__item

  &__item {
    position: relative;

    // position: sticky;
    // top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    background: var(--white-color);

    &:not(:last-child) {
      border-bottom: 1px solid rgba(70, 70, 70, 0.50);
    }

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
      margin-top: -300px;
    }

    &:nth-child(3) {
      z-index: 2;
      margin-top: -300px;
    }

    &:nth-child(4) {
      z-index: 1;
      margin-top: -300px;
    }
  }

  // .governance__item-content

  &__item-content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 30px;

    @media (max-width: $breakpoint1200) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .governance__item-text

  &__item-text {
    max-width: 450px;
    padding-bottom: 50px;
    font-size: 20px;

    @media (max-width: $breakpoint1200) {
      max-width: 100%;
      padding-bottom: 0;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .governance__item-block

  &__item-block {}

  // .governance__item-footer

  &__item-footer {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 30px;

    img {
      width: 30px;
      height: 30px;
    }

  }

  // .governance__item-label

  &__item-label {
    font-weight: 700;
    font-size: 20px;
  }
}

.governance {

  // .governance__item-block

  &__item-block {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    border-radius: 15px;
    background-color: #242424;

    @media (max-width: $breakpoint1200) {
      max-width: 100%;
      margin-left: 0;
    }
  }

  // .governance__item-top

  &__item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 75px;

    @media (max-width: $breakpoint480) {
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 40px;
    }
  }

  // .governance__item-logo

  &__item-logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  // .governance__item-infos

  &__item-infos {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .governance__item-info

  &__item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    height: 26px;
    width: fit-content;
    padding: 0 10px;
    border-radius: 8px;
    background-color: var(--white-color);
  }

  // .governance__item-info-name

  &__item-info-name {
    font-size: 11px;
    color: #242424;
  }

  // .governance__item-info-icon

  &__item-info-icon {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  // .governance__item-bottom

  &__item-bottom {}

  // .governance__item-radios

  &__item-radios {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    margin-bottom: 10px;
  }

  // .governance__item-radio

  &__item-radio {

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: -100;

      &:checked~.governance__item-label {
        color: #8E9EAB;
      }
    }
  }

  // .governance__item-label

  &__item-label {
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    color: var(--grey-color);
    cursor: pointer;
  }

  // .governance__item-btn

  &__item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;

    background-color: var(--white-color);
    border-radius: 8px;

    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-size: 16px;
    color: #242424;
    text-align: center;

    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
      background-color: #8E9EAB;
      color: var(--white-color);
    }
  }
}

.governance {

  // .governance__item-sums

  &__item-sums {
    padding: 30px;
    text-align: center;

    @media (max-width: $breakpoint768) {
      padding: 30px 10px;
      width: 100%;
    }
  }

  // .governance__item-sums-label

  &__item-sums-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--grey-color);
  }

  // .governance__item-sum

  &__item-sum {
    font-weight: 700;
    font-size: 30px;
    color: var(--white-color);
  }
}


.governance {

  // .governance__item-block

  &__item-block {}

  // .governance__item-form

  &__item-form {
    margin-bottom: 26px;
  }

  // .governance__item-group

  &__item-group {

    &:first-child {
      margin-bottom: 20px;
    }
  }

  // .governance__item-group-label

  &__item-group-label {
    display: flex;
    padding-left: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    color: var(--grey-color);
  }

  // .governance__item-group-input

  &__item-group-input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white-color);
    outline: 0;
  }

  // .governance__item-group-textarea

  &__item-group-textarea {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--white-color);
    resize: none;
    height: 94px;
    width: 100%;
    outline: 0;
  }

  // .governance__item-added

  &__item-added {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
  }

  // .governance__item-bottom

  &__item-bottom {}

  // .governance__item-btn

  &__item-btn {}
}

.governance {

  // .governance__item-block

  &__item-block {}

  // .governance__item-block--transparent

  &__item-block--transparent {
    background-color: transparent;

    img {
      margin-bottom: 5px;
    }

    @media (max-width: $breakpoint1200) {
      width: fit-content;
    }

    @media (max-width: $breakpoint768) {
      padding: 0;

      img {
        max-width: 100%;
      }
    }

  }

  // .governance__item-texts

  &__item-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }

  // .governance__item-block-text

  &__item-block-text {
    padding: 10px 38px;
    border-radius: 15px;
    background-color: #242424;

    white-space: nowrap;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white-color);
  }
}