.insurance {

  // .insurance__inner

  &__inner {}

  // .insurance__top

  &__top {
    padding: 20px 50px;
    border-radius: 20px;
    background-color: var(--white-color);
    margin-bottom: 30px;

    @media (max-width: $breakpoint768) {
      padding: 20px;
      margin-bottom: 20px;
    }
  }

  &__top--transparent {
    background-color: transparent;

    .insurance__title {
      flex: 0 1 auto;
      text-align: center;

      @media (max-width: $breakpoint768) {
        flex: 0 1 auto;
      }
    }
  }

  // .insurance__header

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @media (max-width: $breakpoint768) {
      // justify-content: space-between;
      column-gap: 20px;
    }
  }

  // .insurance__title

  &__title {
    flex: 0 1 65%;
    text-align: right;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }

    @media (max-width: $breakpoint480) {
      font-size: 26px;
    }
  }

  // .insurance__header-link

  &__header-link {
    flex: 0 1 35%;
    display: grid;
    justify-items: end;

    img {
      width: 50px;
      height: 50px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  // .insurance__subtitle

  &__subtitle {
    max-width: 534px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 20px;
    text-transform: lowercase;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .insurance__top-links

  &__top-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
  }

  // .insurance__top-link

  &__top-link {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 20px;
    color: var(--blue-color);

    img {
      transition: transform 0.2s linear;
    }

    &:hover {
      img {
        transform: translateY(-3px) translateX(2px);
      }
    }
  }

  // .insurance__middle

  &__middle {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;

    @media (max-width: $breakpoint1200) {
      flex-direction: column;
      row-gap: 30px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 20px;
    }
  }

  // .insurance__risk

  &__risk {
    padding: 30px 25px 25px;
    border-radius: 20px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .insurance__risk-title

  &__risk-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  // .insurance__risk-pic

  &__risk-pic {
    max-width: 100%;

    @media (max-width: $breakpoint1200) {
      width: 100%;
    }
  }

  // .insurance__blocks

  &__blocks {
    flex: 0 1 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media (max-width: $breakpoint1200) {
      flex: 0 1 auto;
      flex-direction: row;
      column-gap: 30px;
    }

    @media (max-width: $breakpoint992) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .insurance__block

  &__block {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint1200) {
      flex: 0 1 50%;
      display: grid;
      justify-items: center;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .insurance__block-insurence

  &__block-insurence {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 18px;
    }
  }

  // .insurance__block-pecents

  &__block-pecents {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  // .insurance__block-up

  &__block-up {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .insurance__block-percent

  &__block-percent {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 50px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 40px;
    }
  }

  // .insurance__block-adaptives

  &__block-adaptives {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  // .insurance__block-text

  &__block-text {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  // .insurance__block-adaptive

  &__block-adaptive {
    font-size: 32px;
    font-weight: 700;
    text-transform: lowercase;

    @media (max-width: $breakpoint1450) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .insurance__footer

  &__footer {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;
      row-gap: 20px;
      text-align: center;
    }
  }

  // .insurance__currences

  &__currences {
    padding: 30px 40px;
    border-radius: 20px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .insurance__currences-top

  &__currences-top {
    max-width: 268px;
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      font-size: 20px;
    }
  }

  // .insurance__currences--green

  &__currences--green {
    color: var(--green-color);
  }

  // .insurance__currences--blue

  &__currences--blue {
    color: var(--blue-color);
  }

  // .insurance__currences--brown

  &__currences--brown {
    color: #7c7c7c;
  }

  // .insurance__currences-descr

  &__currences-descr {
    max-width: 328px;
    font-size: 16px;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .insurance__as

  &__as {
    flex: 0 1 620px;
    width: 100%;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      padding: 20px;
    }
  }

  // .insurance__as-title

  &__as-title {
    margin-bottom: 10px;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: $breakpoint1450) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .insurance__as-descr

  &__as-descr {
    max-width: 384px;
    font-size: 16px;
    text-transform: lowercase;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }
}