.socials {

  // .socials__inner

  &__inner {}

  // .socials__top

  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 50px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
      margin-bottom: 30px;
    }
  }

  // .socials__question

  &__question {
    flex: 0 1 600px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      padding: 30px;
    }
  }

  // .socials__question-title

  &__question-title {
    text-align: center;
    letter-spacing: 1.32px;


    @media (max-width: 359px) {
      font-size: 24px;
    }
  }

  // .socials__top-links

  &__top-links {
    flex: 0 1 400px;

    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      row-gap: 20px;
    }
  }

  // .socials__top-lonk

  &__top-lonk {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    color: var(--blue-color);

    img {
      width: 20px;
      height: 20px;
    }


    img {
      transition: transform 0.2s linear;
    }

    &:hover {
      img {
        transform: translateY(-3px) translateX(2px);
      }
    }


    @media (max-width: 359px) {
      font-size: 24px;
    }
  }

  // .socials__list

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint768) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
      column-gap: 20px;
    }
  }

  // .socials__item

  &__item {

    &:not(:last-child) {
      border-bottom: 1px solid var(--text-color);

      @media (max-width: $breakpoint768) {
        border: 0;
      }
    }
  }

  // .socials__link

  &__link {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 25px 20px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--text-color);

      .socials__link-icon span {
        color: var(--white-color);
      }

      .socials__link-icon svg path {
        fill: var(--white-color);
      }

      .socials__link-arrow img {
        filter: invert(1);
      }
    }

    @media (max-width: $breakpoint768) {
      display: grid;
      justify-items: center;
      justify-content: center;
      padding: 30px 10px 24px;
      border-radius: 20px;
      background-color: var(--white-color);
    }
  }

  // .socials__link-info

  &__link-info {}

  // .socials__link-icon

  &__link-icon {
    display: flex;
    align-items: center;
    column-gap: 20px;

    svg {
      width: 30px;
      height: 30px;
    }

    span {
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--text-color);

      transition: color 0.2s linear;
    }

    img {
      width: 30px;
      height: 30px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 15px;

      img {
        width: 100px;
        height: 100px;
      }

      span {
        font-size: 14px;
      }
    }

    @media (max-width: 359px) {
      img {
        width: 70px;
        height: 70px;
      }

      span {
        font-size: 13px;
      }
    }
  }



  // .socials__link-arrow

  &__link-arrow {

    img {
      width: 30px;
      height: 30px;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }
}