// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1728;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint1200: 1199.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  // basic colors

  --text-color: #464646;
  --grey-color: #747474;
  --light-grey-color: rgba(36, 36, 36, 0.10);
  --light-color: #F6F7F9;
  --white-color: #ffffff;

  //gradients
  --lightfade: linear-gradient(180deg, #8E9EAB 0%, #EEF2F3 100%);
  --darkfade: linear-gradient(180deg, #464646 0%, #747474 100%);

  //btn colors
  --dark-color: #333;
  --lime-color: #C6EFCE;
  --green-color: #0F9B0F;
  --blue-color: #2997FF;
}